body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "header"
        "section";
        background-color: var(--fondo);
}

header {
    grid-area: header;
}

section {
    grid-area: section;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
form {
    color: var(--texto-claro);
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    background-color: var(--secundario);
}
input[type="text"], input[type="password"], input[type="number"], input[type="date"] {
    width: 80%;
}
#imgUsuario {
    border-radius: 50%;
    width: 30%;
}
#imgPerfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#botones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.row {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
}