body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
        "header"
        "section";
}

header{
    grid-area: header;
}

section{
    grid-area: section;
}