body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
        "header"
        "section";
}

header{
    grid-area: header;
}

section{
    grid-area: section;
}
.imagenUsuario{
    width: 30%;
    border-radius: 50%;
}
.usuarioListado{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.usuario{
    display: flex;
    align-items: center;
}