body{
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "edicion";
}

header{
    grid-area: header;
}

section{
    grid-area: edicion;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 60%;
}