body{
    display: grid;
    grid-template-columns:  0.5fr 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
        "header header"
        "aside main";
}
header{
    grid-area: header;
}
aside{
    grid-area: aside;
    border-right: 1px solid black;
}
main{
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-y: scroll;
}
.ejercicio{
    background-color: yellow;
}