.imagen_grupo {
    border-radius: 50%;
    width: 20%;
}
#listaGrupos{
    height: 100%;
    width: 20%;
    margin: 0;
    border: 1px solid blue;
}
#opcionesGrupo{
    width: 10%;
}
.grupo, .grupo div {
    display: flex;
    align-items: center;
}
.grupo{
    border: 1px solid black;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.grupo:hover{
    cursor: pointer;
}
.claveGrupo{
    color: white;
    transition: .3s ease;
}
.grupo:hover .claveGrupo{
    color: black;
}
#chat{
    height: 100%;
    width: 70%;
    border: 1px solid black;
}
#mensajes{
    height: 70%;
    overflow: scroll;
}
section{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
