body{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
        "header header"
        "section section";
    background-color: var(--fondo);
}

header{
    grid-area: header;
}

section{
    grid-area: section;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tarjeta{
    background-color: var(--secundario);
    height: 40%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    color: var(--texto-claro);
}

#login{
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: var(--fondo);
    width: 100%;
}

.btn:hover{
    background-color: var(--color-header);
}

#registrarse{
    margin-top: 20px;
}
a:hover{
    text-decoration: none;
    color: var(--texto-claro);
}