body{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
        "header header"
        "aside main";
    background-color: var(--fondo);
}

header{
    grid-area: header;
}

aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

aside div{
    height: 33%;
    display: flex;
    align-items: center;
    transition: .3s ease;
    border-radius: 10px;
}

main{
    grid-area: main;
}
aside img{
    width: 30%;
}
a{
    text-decoration: none;
    color: black;
}
aside div:hover{
    background-color: var(--secundario);
}

#rutinas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px;
    overflow-y: scroll;
}

.card{
    align-items: center;
    width: 30%;
    background-color: var(--secundario);
    color: var(--texto-claro)
}

.card a{
    cursor: pointer;
}