body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "header header"
    "listaRutinas ejercicios";
}

header {
  grid-area: header;
}

#listaRutinas {
  grid-area: listaRutinas;
  overflow-y: scroll;
  background-color: var(--fondo);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#rutinas {
  width: 100%;
}
#ejercicios {
  grid-area: ejercicios;
  background-color: var(--secundario);
  color: var(--texto-claro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ejercicio {
  width: 40%;
}
.rutina {
  transition: 0.3s ease;
  border: 1px solid black;
  padding: 20px;
  width: 100%;
}
.rutina i {
  opacity: 0;
  transition: 0.3s ease;
}

.rutina:hover i {
  opacity: 1;
}
.eliminar {
  color: red;
}
.editar {
  color: green;
}
#nuevaRutina {
  margin: 10px;
}
.btn {
  background-color: var(--secundario);
  color: var(--texto-claro);
}

.btn:hover {
  background-color: var(--color-header);
}
