body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "header header"
    "listaRutinas ejercicios";
}

header{
    grid-area: header;
}

#listaRutinas{
    grid-area: listaRutinas;
}

#ejercicios{
    grid-area: ejercicios;
}
.rutina{
    border: 1px solid black;
}
.rutina i{
    opacity: 0;
    transition: .3s ease;
}
.rutina:hover i{
    opacity: 1;
}
.eliminar{
    color: red;
}
.editar{
    color: green;
}