body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-size: larger;
    box-sizing: border-box;
}

header{
    background-color: orange;
}
#logo{
    height: 100%;
    margin-left: 1%;
}